# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

Buenas tardes,
Existen un par de erratas en el lab [importing-exporting-data]. A continuación, os indico las instrucciones para poder realizar los Challenges 1 y 3 (en el lab se repite el nombre Challenge 2, por lo tanto me refiero al tercer challenge).
Challenge 1. Por favor, descargaros desde el siguiente enlace el fichero .db y ejecutar las operaciones que se indican, es decir, conectarse a la base de datos desde Jupyter y realizar al menos una operación de JOIN entre las tablas (este fichero es un fichero diferente pero que igualmente contiene varias tablas).
Challenge 3. En este caso el fichero al que se hace referencia tampoco se encuentra dentro de la carpeta data, por lo que podréis descargar en este enlace un fichero .zip para hacer las operaciones que se indican en el challenge, es decir, importar con pandas el fichero, en este caso .txt , y colocar el nombre a las columnas. Solo hay una variante y es que 23 de los 24 nombres de las columnas tenéis que extraerlos del otro fichero .csv que se encuentra dentro del mismo challenge3.zip
Podéis dejar estos nuevos ficheros de datos en la carpeta data del lab.
Cualquier duda nos comentáis!!!
:marca_de_verificación_gruesa:
21




4 respuestas
La última respuesta se publicó hoy a las 18:28Ver hilo

Octavio Garcia Moreno  18:20
ha respondido a un hilo:
Buenas tardes,…
Hola Ivan, toda la razón!
Considerad por tanto mi propuesta para el Challenge 3 como un Bonus!!!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [4]:
import pandas as pd
import sqlalchemy
import sqlite3

In [5]:
cnx = sqlite3.connect('/home/jc/Escritorio/Github_labs/dataptmad0420/module-1/importing-exporting-data/data/juliarochflores.db')

In [13]:
cnx.execute("SELECT personal_info.id , lastName as Last_Name , age , country ,Source , worth \
cnx.execute("SELECT personal_info.id , lastName as Last_Name , age , country ,Source , worth \
From personal_info LEFT Join business_info on personal_info.id = business_info.id LIMIT 10;").fetchall()From personal_info LEFT Join business_info on personal_info.id = business_info.id LIMIT 10;").fetchall()

[(8760,
  'BEZOS',
  '54 years old',
  'United States',
  'Technology  ==> Amazon',
  '112.0 BUSD'),
 (7500,
  'GATES',
  '62 years old',
  'None',
  'Technology  ==> Microsoft',
  '90.0 BUSD'),
 (5751,
  'bufFETT',
  '87 years old',
  'None',
  'Finance and Investments  ==> Berkshire Hathaway',
  '84.0 BUSD'),
 (8365,
  'arNAULt',
  '69 years old',
  'France',
  'Fashion & Retail  ==> LVMH',
  '72.0 BUSD'),
 (5328,
  'zUCKERBERg',
  '1985',
  'United States',
  'Technology  ==> Facebook',
  '71.0 BUSD'),
 (4945,
  'ortEGa',
  '82 years old',
  'Spain',
  'Fashion & Retail  ==> Zara',
  '70.0 BUSD'),
 (3712,
  'slIM HELU',
  '78 years old',
  'None',
  'Telecom  ==> telecom',
  '67.1 BUSD'),
 (5137,
  'KOCH',
  '82 years old',
  'None',
  'Diversified  ==> Koch Industries',
  '60.0 BUSD'),
 (1485,
  'kOCH',
  '78 years old',
  'None',
  'Diversified  ==> Koch Industries',
  '60.0 BUSD'),
 (1108,
  'eLLISOn',
  '73 years old',
  'United States',
  'Technology  ==> software',
  '58.5 BUSD')]

In [18]:
cnx.execute("SELECT personal_info.id , name ,  personal_info."Unnamed: 0" as Ranking , lastName , age , gender , country , worth FROM rank_info  Join personal_info on personal_info.id = rank_info.id Join business_info on personal_info.id = business_info.id LIMIT 10;").fetchall()

SyntaxError: invalid syntax (<ipython-input-18-b19ac2b42b29>, line 1)

Create table if not exists "10Most_valued_companies"  as 
SELECT personal_info.id , lastName as Last_Name , age , country ,Source , worth 
From personal_info
LEFT Join business_info on 
personal_info.id = business_info.id 
LIMIT 10;


Create table if not exists "10Most_wealthy_people"  as 
SELECT personal_info.id , name ,  personal_info."Unnamed: 0" as Ranking , lastName , age , gender , country , worth
FROM rank_info  
Join personal_info on 
personal_info.id = rank_info.id 
JOIN business_info on 
personal_info.id = business_info.id
LIMIT 10;

# Challenge 2 - Working with JSON files

Import the pandas library.

In [19]:
# your code here

import pandas as pd

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [25]:
# your code here

nasa = pd.read_json('/home/jc/Escritorio/Github_labs/dataptmad0420/module-1/importing-exporting-data/data/nasa.json', orient='records')

Now that we have loaded the data, let's examine it using the `head()` function.

In [27]:
# your code here
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [28]:
# your code here
nasa['fall'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Fell
1      Fell
2      Fell
3      Fell
4      Fell
       ...
995    Fell
996    Fell
997    Fell
998    Fell
999    Fell
Name: fall, Length: 1000, dtype: object>

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [29]:
# your code here
nasa.to_json('/home/jc/Escritorio/Github_labs/dataptmad0420/module-1/importing-exporting-data/data//nasa-output.json', orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [ ]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [51]:
# your code here

In [58]:
import pandas as pd
import zipfile

zf = zipfile.ZipFile('/home/jc/Escritorio/Github_labs/dataptmad0420/module-1/importing-exporting-data/data/challenge3.zip') # having First.csv zipped file.
df = pd.read_csv(zf.open('Food_Supply_Quantity_kg_Data_No_Header.txt'), sep=" ", header=None)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 3

In [56]:
df.head()

                 Categories                                              Items
0       Alcoholic Beverages  Alcohol, Non-Food; Beer; Beverages, Alcoholic;...
1               Animal fats  Butter, Ghee; Cream; Fats, Animals, Raw; Fish,...
2           Animal Products  Aquatic Animals, Others; Aquatic Plants; Bovin...
3   Aquatic Products, Other  Aquatic Animals, Others; Aquatic Plants; Meat,...
4  Cereals - Excluding Beer  Barley and products; Cereals, Other; Maize and...

Let's verify that this worked by looking at the `head()` function.

In [ ]:
# your code here

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [ ]:
# your code here

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [ ]:
# your code here

Use the `head()` function to inspect the dataframe.

In [ ]:
# your code here

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [ ]:
# your code here

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [ ]:
# your code here

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [ ]:
# your code here